.products-icon{
    display: inline-block;
    text-align: center;
    margin: 0 5%;
    color:rgb(252, 176, 64) ;
}
.products-icon span{
    font-size: 2rem;
    color: #ebe3e3;
    font-family: Arial, sans-serif;
    color: rgb(6, 34, 165);
    font-weight: 700;
}
.products-icon:hover ,.products-icon span:hover{
    color:rgb(252, 176, 64) ;
    transform: scale(1.2);
}
.products-container{
    display: grid;
    width: 100%;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    gap: 2rem;
   
    justify-content: center;
    margin: 0 50px 20px  50px;
    justify-self: center; /* Elemanları yatayda ortala */
    align-self: center; /* Elemanları dikeyde ortala */
}

.products{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}